* {
    box-sizing: border-box;
    --background-gray: rgb(243, 243, 243);
}



body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

img {
    height: 1050px;
    width: 30%;
    margin-left: 0px;
    padding: 0px;
}

.content {
    height: 1050px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    height: 350px;
    width: auto;
    background-color: var(--background-gray);
    font-size: 25px;
    padding-left: 100px;
    padding-top: 150px;
    
}

.form {
    height: 350px;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 40px;
}

.account {
    height: 350px;
    width: auto;
    background-color: var(--background-gray);
}

#rows {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
    
}

input {
    display: block;
    border-color: #E5E7EB;
}

label {
    color: gray;
}
#do {
    font-size: 25px;
    font-weight: 300;
}

#rows > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    

}