* {
    box-sizing: border-box;
    --background-gray: rgb(243, 243, 243);
}



body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

img {
    height: 1050px;
    width: 30%;
    margin-left: 0px;
    padding: 0px;
}

.content {
    height: 1050px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    height: 350px;
    width: auto;
    background-color: var(--background-gray);
    font-size: 25px;
    padding-left: 100px;
    padding-top: 150px;
    
}

.forms {
    height: 350px;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.account {
    height: 350px;
    width: auto;
    background-color: var(--background-gray);
}